<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rains.graphql.tool.mapper.GenTableColumnMapper">

<!--    <resultMap id="genTableColumn" type="com.rains.graphql.tool.entity.GenTableColumn">-->
<!--        <id column="column_id" jdbcType="bigint" property="columnId"/>-->
<!--        <result column="table_id" jdbcType="varchar" property="tableId"/>-->
<!--        <result column="column_name" jdbcType="varchar" property="columnName"/>-->
<!--        <result column="column_comment" jdbcType="varchar" property="columnComment"/>-->
<!--        <result column="column_type" jdbcType="varchar" property="columnType"/>-->
<!--        <result column="java_type" jdbcType="varchar" property="javaType"/>-->
<!--        <result column="java_field" jdbcType="varchar" property="javaField"/>-->
<!--        <result column="is_pk" jdbcType="bit" property="isPk"/>-->
<!--        <result column="is_increment" jdbcType="char" property="isIncrement"/>-->
<!--        <result column="is_required" jdbcType="char" property="isRequired"/>-->
<!--        <result column="is_insert" jdbcType="char" property="isInsert"/>-->
<!--        <result column="is_edit" jdbcType="char" property="isEdit"/>-->
<!--        <result column="is_list" jdbcType="char" property="isList"/>-->
<!--        <result column="is_query" jdbcType="char" property="isQuery"/>-->
<!--        <result column="query_type" jdbcType="varchar" property="queryType"/>-->
<!--        <result column="html_type" jdbcType="varchar" property="htmlType"/>-->
<!--        <result column="dict_type" jdbcType="varchar" property="dictType"/>-->
<!--        <result column="sort" jdbcType="int" property="sort"/>-->
<!--        <result column="create_by" jdbcType="varchar" property="createBy"/>-->
<!--        <result column="create_time" jdbcType="datetime" property="createTime"/>-->
<!--        <result column="update_by" jdbcType="varchar" property="updateBy"/>-->
<!--        <result column="update_time" jdbcType="datetime" property="updateTime"/>-->
<!--    </resultMap>-->


<!--    <select id="selectDbTableColumnsByName" parameterType="String" resultMap="genTableColumn">-->
<!--		select column_name, (case when (is_nullable = 'no' <![CDATA[ && ]]> column_key != 'PRI') then '1' else null end) as is_required, (case when column_key = 'PRI' then '1' else '0' end) as is_pk, ordinal_position as sort, column_comment, (case when extra = 'auto_increment' then '1' else '0' end) as is_increment, column_type-->
<!--		from information_schema.columns where table_schema = (select database()) and table_name = (#{tableName})-->
<!--		order by ordinal_position-->
<!--	</select>-->
</mapper>

