<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rains.graphql.system.dao.DictTypeMapper">

<!--    <resultMap id="dictType" type="com.rains.graphql.system.domain.DictType">-->
<!--        <id column="dict_id" jdbcType="bigint" property="dictId"/>-->
<!--        <result column="create_by" jdbcType="varchar" property="createBy"/>-->
<!--        <result column="create_time" jdbcType="datetime" property="createTime"/>-->
<!--        <result column="dict_name" jdbcType="varchar" property="dictName"/>-->
<!--        <result column="dict_type" jdbcType="varchar" property="dictType"/>-->
<!--        <result column="remark" jdbcType="varchar" property="remark"/>-->
<!--        <result column="status" jdbcType="char" property="status"/>-->
<!--        <result column="update_by" jdbcType="varchar" property="updateBy"/>-->
<!--        <result column="update_time" jdbcType="datetime" property="updateTime"/>-->
<!--    </resultMap>-->
</mapper>
